@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container-six .container-six__info .container-six__info-wrapper_two .container-six__info-plus .container-six__info-plus_text .container-six__info-plus_text_p, .container-six .container-six__info .container-six__info-wrapper .container-six__info-doc .container-six__info-doc_text .container-six__info-doc_text_p_two, .container-six .container-six__info .container-six__info-wrapper .container-six__info-boarder .container-six__info-boarder_p, .container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details_text2 .expenses__details_text2-style, .container-four .route .route__item .route__item_text, .container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__time, .container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__day, .container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details__text-two .action-details__text-two_style, .container-two .description .description__text-style, header .container .container__nav .container__nav-menu a {
  font-style: normal;
  font-weight: 500;
}

.container-six .container-six__info .container-six__info-wrapper .container-six__info-doc .container-six__info-doc_text .container-six__info-doc_text_p, .container-six .container-six__title .container-six__title-p, .container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details .expenses__details_text-style, .container-five .container-five__title .container-five__title-style, .container-four .route .route__item .route__item_text .item-style-four, .container-four .route .route__title .route__title_style, .container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .days .days-style, .container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .month, .container-three .planing .planing__title .planing__title-style, .container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details-wrap .action-details__text_style, .container-two .description .description__title, header .container .container__btn .container__btn-wrapper .container__btn-one .container__btn-one_wrapper .container__btn-one_wrapper_text, header .container .container__title .container__title_h1, header .container .container__title .container__title_p {
  font-style: normal;
  font-weight: 700;
}

grand-wrapper {
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background: url(../../image/page3/header_pic.jpg) no-repeat center/cover;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  /*Container 1*/
}
header .container {
  max-width: 1600px;
  min-height: 670px;
  width: 100%;
}
header .container .container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 0 0 0;
}
header .container .container__nav .container__nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
header .container .container__nav .container__nav-menu .container__nav-menu_item {
  margin-right: 30px;
}
header .container .container__nav .container__nav-menu .container__nav-menu_item--active {
  color: #FFC700;
  margin-right: 30px;
}
header .container .container__nav .container__nav-menu a {
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
}
header .container .container__nav .container__nav-menu a:hover {
  color: #FF3399;
  transition: 0.2s;
}
header .container .container__title .container__title_p {
  margin: 128px 0 0 0;
  font-size: 29px;
  line-height: 32px;
  color: #FFC700;
}
header .container .container__title .container__title_h1 {
  font-size: 48px;
  line-height: 59px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
header .container .container__btn {
  display: flex;
  margin-top: 40px;
}
header .container .container__btn .container__btn-wrapper {
  min-height: 50px;
  max-width: 300px;
  margin-right: 20px;
  width: 100%;
}
header .container .container__btn .container__btn-wrapper .container__btn-one {
  text-decoration: none;
}
header .container .container__btn .container__btn-wrapper .container__btn-one .container__btn-one_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  height: 100%;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
}
header .container .container__btn .container__btn-wrapper .container__btn-one .container__btn-one_wrapper:hover {
  top: -10px;
  background: linear-gradient(92.71deg, #FF00FF 0%, #FF3399 100%);
  transition: all 0.5s;
  box-shadow: 0 5px 0px 0 #FF99CC;
}
header .container .container__btn .container__btn-wrapper .container__btn-one .container__btn-one_wrapper:active {
  top: -7px;
  box-shadow: 0 2px 0px 0 #FF66B2;
  transition: all 0.1s;
}
header .container .container__btn .container__btn-wrapper .container__btn-one .container__btn-one_wrapper .container__btn-one_wrapper_text {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 9px;
}
header .container .container__btn .container__btn-wrapper_two {
  height: 50px;
  width: 50px;
}
header .container .container__btn .container__btn-wrapper_two .container__btn-like {
  text-decoration: none;
}
header .container .container__btn .container__btn-wrapper_two .container__btn-like .container__btn-like_pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0.4;
  border-radius: 50%/50%;
  -webkit-backdrop-filter: blur 500px;
          backdrop-filter: blur 500px;
}
header .container .container__btn .container__btn-wrapper_two .container__btn-like .container__btn-like_pic:hover {
  background-color: #FF0000;
  transition: all 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/*Container 2*/
.container-two {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  min-height: 487px;
  width: 100%;
}
.container-two .description {
  max-width: 382px;
}
.container-two .description .description__title {
  margin: 12vh 0 0 0;
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
}
.container-two .description .description__text-style {
  margin: 40px 0 0 0;
  font-size: 20px;
  line-height: 20px;
  color: #282828;
}
.container-two .action {
  max-width: 1125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-two .action .action-wrapper {
  max-width: 300px;
  width: 100%;
  min-height: 117px;
}
.container-two .action .action-wrapper .action__main {
  min-height: 190px;
  margin-top: 15vh;
}
.container-two .action .action-wrapper .action__main .action__main-pic {
  position: absolute;
}
.container-two .action .action-wrapper .action__main .action__main-info {
  max-width: 250px;
  min-height: 150px;
  position: relative;
  top: 1.2vh;
  left: 1.2vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap {
  display: flex;
  justify-content: center;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details {
  min-height: 51px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details-wrap {
  display: flex;
  justify-content: center;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details-wrap .action-details__pic {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details-wrap .action-details__text_style {
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
  margin: 0;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details__text-two {
  margin-top: 15px;
}
.container-two .action .action-wrapper .action__main .action__main-info .action__main-info-wrap .action-details .action-details__text-two .action-details__text-two_style {
  font-size: 20px;
  line-height: 20px;
  color: #282828;
  margin: 0;
}
.container-two .action .action__main-info-item {
  margin-right: 0;
}

/*Container 3*/
.container-three {
  display: flex;
  min-height: 877px;
  max-width: 1600px;
  width: 100%;
}
.container-three .trip {
  display: flex;
  max-width: 825px;
}
.container-three .trip .trip__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.container-three .planing {
  max-width: 774px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-three .planing .planing__title {
  display: flex;
  justify-content: center;
  margin: 6.5vh 0 0 0;
}
.container-three .planing .planing__title .planing__title-style {
  font-size: 29px;
  line-height: 32px;
  text-align: right;
  color: #0499DD;
}
.container-three .planing .planing__calendar {
  min-height: 500px;
  max-width: 650px;
  width: 100%;
  margin-top: 90px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 170px;
  border-radius: 20px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
  min-height: 500px;
  max-width: 650px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 29px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #0499DD;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .month .year {
  margin-left: 10px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .month .calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0499DD;
  width: 40px;
  height: 40px;
  transition-duration: 0.2s;
  position: relative;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .month .calendar__navigation:hover {
  background: #eee;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .days {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 15px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .days span {
  width: 50px;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .days .days-style {
  font-size: 20px;
  line-height: 22px;
  color: #282828;
  text-transform: uppercase;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  width: 90px;
  height: 60px;
  margin: 0px;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__day {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #282828;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__day_color {
  color: #D4D4D4;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__day_position,
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__day_color {
  margin-bottom: 12px;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button .dates__time {
  margin: 0;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #0499DD;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button:hover {
  background: #7F00FF;
}
.container-three .planing .planing__calendar .planing__calendar-wrapper .calendar .dates button:focus {
  background: #0a3d62;
  color: #fff;
  font-weight: 600;
}

/*Container 4*/
.container-four {
  display: flex;
  max-width: 1600px;
  min-height: 570px;
  width: 100%;
  margin-top: 12vh;
}
.container-four .route {
  max-width: 550px;
  min-height: 450px;
  width: 100%;
}
.container-four .route .route__title {
  margin-top: 60px;
}
.container-four .route .route__title .route__title_style {
  margin: 0;
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
}
.container-four .route .route__item {
  display: flex;
}
.container-four .route .route__item .route__item-pic {
  margin-right: 26px;
}
.container-four .route .route__item .route__item_text {
  font-size: 20px;
  line-height: 20px;
  color: #282828;
}
.container-four .route .route__item .route__item_text .route__item_text-style {
  margin: 0;
}
.container-four .route .route__item .route__item_text .item-style-four {
  font-size: 20px;
  line-height: 20px;
  color: #282828;
}
.container-four .route .route__item-first {
  margin-top: 90px;
}
.container-four .route .route__item-two,
.container-four .route .route__item-three,
.container-four .route .route__item-six {
  margin-top: 21px;
}
.container-four .route .route__item-four,
.container-four .route .route__item-five {
  margin-top: 40px;
}
.container-four .slider-main {
  max-width: 1050px;
  width: 100%;
  height: 100%;
}
.container-four .slider-main .slider-container {
  background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-four .slider-main .slider-container .slider {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.container-four .slider-main .slider-container .slider .slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.container-four .slider-main .slider-container .slider .slides .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}
.container-four .slider-main .slider-container .slider .slides .slide .slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
.container-four .slider-main .slider-container .slider .slides .slide a {
  background: none;
  border: none;
}
.container-four .slider-main .slider-container .slider .slides .slide a .slide__prev, .container-four .slider-main .slider-container .slider .slides .slide a::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}
.container-four .slider-main .slider-container .slider .slides .slide a .slide__next, .container-four .slider-main .slider-container .slider .slides .slide ar::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}
.container-four .slider-main .slider-container .slider .slides:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}
.container-four .slider-main .slider-container .slider .slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.container-four .slider-main .slider-container .slider .slider__nav .slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}
.container-four .slider-main .slider-container::before, .container-four .slider-main .slider-container::after,
.container-four .slider-main .slider-container .slide__prev,
.container-four .slider-main .slider-container .slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}
.container-four .slider-main .slider-container::before, .container-four .slider-main .slider-container::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

/*Container 5*/
.container-five {
  max-width: 1600px;
  width: 100%;
  min-height: 236px;
  margin-top: 230px;
}
.container-five .container-five__title .container-five__title-style {
  margin: 0;
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
}
.container-five .container-five__info {
  display: flex;
  justify-content: space-between;
  min-height: 230px;
}
.container-five .container-five__info .container-five__info-wrap {
  max-width: 250px;
  width: 100%;
  min-height: 117px;
}
.container-five .container-five__info .container-five__info-wrap .expenses {
  min-height: 190px;
  margin-top: 90px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__img {
  position: absolute;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info {
  max-width: 200px;
  min-height: 150px;
  position: relative;
  top: 1.2vh;
  left: 1.2vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap {
  max-width: 170px;
  display: flex;
  justify-content: center;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main {
  min-height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details {
  display: flex;
  justify-content: center;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details img {
  margin-right: 10px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details .expenses__details_text-style {
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
  margin: 0;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details_text2 {
  margin-top: 15px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .expenses-info-wrap .expenses-info-main .expenses__details_text2 .expenses__details_text2-style {
  font-size: 20px;
  line-height: 20px;
  color: #282828;
  margin: 0;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .info-wrap-size2 {
  max-width: 200px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .info-wrap-size3,
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info .info-wrap-size4 {
  max-width: 250px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info-size-two {
  max-width: 250px;
}
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info-size-three,
.container-five .container-five__info .container-five__info-wrap .expenses .expenses__info-size-four {
  max-width: 300px;
}
.container-five .container-five__info .wrapper-size-two {
  max-width: 300px;
}
.container-five .container-five__info .wrapper-size-three,
.container-five .container-five__info .wrapper-size-four {
  max-width: 350px;
}

/*Container 6*/
.container-six {
  max-width: 1600px;
  min-height: 458px;
  width: 100%;
  margin-top: 150px;
}
.container-six .container-six__title .container-six__title-p {
  font-size: 29px;
  line-height: 32px;
  color: #0499DD;
  margin: 0;
}
.container-six .container-six__info {
  display: flex;
  margin-top: 90px;
}
.container-six .container-six__info .container-six__info-wrapper {
  max-width: 550px;
}
.container-six .container-six__info .container-six__info-wrapper .container-six__info-boarder .container-six__info-boarder_p {
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}
.container-six .container-six__info .container-six__info-wrapper .container-six__info-doc {
  display: flex;
  margin-top: 40px;
}
.container-six .container-six__info .container-six__info-wrapper .container-six__info-doc .container-six__info-doc_pic {
  margin-right: 27px;
}
.container-six .container-six__info .container-six__info-wrapper .container-six__info-doc .container-six__info-doc_text .container-six__info-doc_text_p {
  font-size: 20px;
  line-height: 22px;
  color: #0499DD;
  margin: 0;
}
.container-six .container-six__info .container-six__info-wrapper .container-six__info-doc .container-six__info-doc_text .container-six__info-doc_text_p_two {
  font-size: 20px;
  line-height: 22px;
  color: #282828;
  margin: 20x 0 0 0;
}
.container-six .container-six__info .container-six__info-wrapper_two {
  max-width: 1050px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-six .container-six__info .container-six__info-wrapper_two .container-six__info-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  min-height: 140px;
  width: 100%;
  background-color: #EDEDED;
}
.container-six .container-six__info .container-six__info-wrapper_two .container-six__info-plus .container-six__info-plus_text {
  max-width: 275px;
  min-height: 51px;
  width: 100%;
}
.container-six .container-six__info .container-six__info-wrapper_two .container-six__info-plus .container-six__info-plus_text .container-six__info-plus_text_p {
  font-size: 20px;
  line-height: 20px;
  color: #282828;
  margin: 0;
}
.container-six .container-six__info .container-six__info-wrapper_two .container-six__info-plus .container-six__info-plus_text_two {
  min-height: 85px;
}

/*Container 7*/
input,
select {
  width: 19.7vw;
  border: solid 1px #f2f2f2;
  margin-bottom: 20px;
  padding: 16px 25px;
  border-radius: 15px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
select{
  appearance: none;
  overflow: hidden;
}

.container-seven {
  max-width: 1600px;
  margin: 0 auto;
}

.section-seven {
  max-width: 1920px;
  margin: 0 auto;
}

.container-seven {
  max-width: 1600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 17px;
  margin: 0 auto;
  color: #282828;
}

.container-seven__gallery-h2,
.container-seven__feedback-h2,
.container-seven__booking-h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 90px;
  color: #0499DD;
}

.container-seven__gallery-link,
.container-seven__feedback-link {
  font-size: 0.75em;
  line-height: 15px;
  text-decoration: none;
  color: inherit;
}

.container-seven__gallery,
.container-seven__feedback {
  max-width: 1600px;
  margin: 150px 15px;
}

.container-seven__gallery-title,
.container-seven__feedback-title {
  margin: 0 160px 90px;
  display: flex;
  justify-content: space-between;
}

.container-seven__grid--img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border-radius: 5px;
}

.container-seven__grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 150px);
  box-sizing: border-box;
}

.container-seven__grid--item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 5px;
}

.container-seven__grid--item-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  margin: 5px;
}

.container-seven__grid--item-3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 5px;
}

.container-seven__grid--item-4 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 5px;
}

.container-seven__grid--item-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  margin: 5px;
}

.container-seven__grid--item-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 5px;
}

.container-seven__grid--item-7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 5px;
}

.container-seven__grid--item-8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  margin: 5px;
}

.container-seven__feedback-title {
  justify-content: space-between;
  align-items: start;
}

.container-seven__feedback-info {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-seven__feedback-info--first,
.container-seven__feedback-info--second {
  max-width: 39vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  border-radius: 10px;
}

.container-seven__feedback-info--first {
  background-image: url(../../image/page3/bg-feedback.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.container-seven__feedback-info--second {
  margin-left: 20px;
}

.container-seven__feedback-img {
  max-width: 254px;
  margin: 38px 28px 38px 45px;
}

.container-seven__feedback-text {
  margin: 75px 27px 94px;
}

.container-seven__feedback-text--strong {
  display: block;
}

.container-seven__booking {
  display: flex;
  align-items: center;
  margin-top: 150px;
}

.ontainer-seven__booking-img__img {
  max-width: 803px;
  width: 100%;
}

.container-seven__booking-box {
  max-width: 20vw;
  width: 100%;
  margin-left: 117px;
}

.container-seven__booking-title {
  margin-bottom: 90px;
  display: block;
  justify-content: start;
}

.container-seven__booking__input {
  background-image: url(../../image/page3/icon_calendar.svg);
  background-position: right center;
  background-repeat: no-repeat;
  width: inherit;
}

.container-seven__booking__select-adults {
  background-image: url(../../image/page3/icon_team.svg);
  background-position: right center;
  background-repeat: no-repeat;
  width: inherit;
}

.container-seven__booking__select-children {
  background-image: url(../../image/page3/icon_team.svg);
  background-position: right center;
  background-repeat: no-repeat;
  width: inherit;
}

.container-seven__booking-btn {
  display: flex;
  justify-content: space-around;
}

.container-seven__booking-btn__btn {
  text-align: center;
  width: 13.33vw;
  font-size: 0.875em;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  border-radius: 60px;
  text-decoration: none;
  background: linear-gradient(to right, #0499DD, #17C1BC);
}

.container-seven__booking-btn__icon {
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
}
.footer {
  display: flex;
  align-items: center;
  background-color: #ededed;
  min-height: 173px;
  font-weight: 500;
  color: #282828;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: 80px 1fr 12em;
  grid-template-rows: 55px 55px;
  grid-template-areas: "footer-logo footer-menu-contacts footer-mail" "footer-logo footer-menu-contacts footer-app";
  align-items: center;
}
.footer .footer__logo {
  grid-area: footer-logo;
}
.footer .footer__menu-contacts {
  grid-area: footer-menu-contacts;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  padding-left: 12%;
}

.footer__menu .footer__menu-list {
  display: grid;
  row-gap: 8px;
  padding: 0;
  margin: 0;
}

.footer__contacts {
  display: grid;
  padding-right: 12%;
  row-gap: 4px;
}
.footer__contacts .footer__contacts-whatsapp {
  background: url(../../image/header_footer/icon_whatsapp_footer.svg) no-repeat;
  background-position: center left;
  padding: 2px 0 2px 30px;
}
.footer__contacts .footer__contacts-telegram {
  background: url(../../image/header_footer/icon_telegram_footer.svg) no-repeat;
  background-position: center left;
  padding: 2px 0 2px 30px;
}

.footer__mail {
  text-align: bottom;
  grid-area: footer-mail;
}
.footer__mail .footer__mail-ico {
  background: url(../../image/header_footer/icon_mail_footer.svg) no-repeat;
  padding-left: 30px;
  background-position: center left;
}

.footer__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer-app;
  max-width: 112px;
  align-self: baseline;
}

@media screen and (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */