/*! нормализовать.css v8.0.1 | Лицензия Массачусетского технологического института | github.com/necolas/normalize.css */

/* Документ
   ================================================== ======================== */

/**
 * 1. Исправьте высоту строки во всех браузерах.
 * 2. Запретить настройку размера шрифта после изменения ориентации в iOS.
 */

 HTML {
    высота строки: 1,15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Разделы
     ================================================== ======================== */
  
  /**
   * Убрать маржу во всех браузерах.
   */
  
  тело {
    маржа: 0;
  }
  
  /**
   * Последовательно визуализируйте элемент main в IE.
   */
  
  основной {
    дисплей: блок;
  }
  
  /**
   * Исправьте размер шрифта и поля для элементов `h1` в пределах `section` и
   * Контексты статьи в Chrome, Firefox и Safari.
   */
  
  ч1 {
    размер шрифта: 2em;
    поле: 0,67em 0;
  }
  
  /* Группировка содержимого
     ================================================== ======================== */
  
  /**
   * 1. Добавьте правильный размер окна в Firefox.
   * 2. Показать переполнение в Edge и IE.
   */
  
  час {
    box-sizing: контент-бокс; /* 1 */
    высота: 0; /* 1 */
    переполнение: видимое; /* 2 */
  }
  
  /**
   * 1. Исправлено наследование и масштабирование размера шрифта во всех браузерах.
   * 2. Исправьте нечетный размер шрифта em во всех браузерах.
   */
  
  предварительно {
    семейство шрифтов: моноширинный, моноширинный; /* 1 */
    размер шрифта: 1em; /* 2 */
  }
  
  /* Семантика на уровне текста
     ================================================== ======================== */
  
  /**
   * Убрать серый фон у активных ссылок в IE 10.
   */
  
  а {
    цвет фона: прозрачный;
  }
  
  /**
   * 1. Убираем нижнюю границу в Chrome 57-
   * 2. Добавьте правильное оформление текста в Chrome, Edge, IE, Opera и Safari.
   */
  
  аббр[название] {
    нижняя граница: нет; /* 1 */
    оформление текста: подчеркивание; /* 2 */
    оформление текста: подчеркивание пунктиром; /* 2 */
  }
  
  /**
   * Добавьте правильный вес шрифта в Chrome, Edge и Safari.
   */
  
  б,
  сильный {
    вес шрифта: жирнее;
  }
  
  /**
   * 1. Исправлено наследование и масштабирование размера шрифта во всех браузерах.
   * 2. Исправьте нечетный размер шрифта em во всех браузерах.
   */
  
  код,
  кбд,
  проба {
    семейство шрифтов: моноширинный, моноширинный; /* 1 */
    размер шрифта: 1em; /* 2 */
  }
  
  /**
   * Добавить правильный размер шрифта во всех браузерах.
   */
  
  маленький {
    размер шрифта: 80%;
  }
  
  /**
   * Предотвращает влияние элементов `sub` и `sup` на высоту строки в
   * все браузеры.
   */
  
  суб,
  Как дела {
    размер шрифта: 75%;
    высота строки: 0;
    положение: родственник;
    вертикальное выравнивание: базовая линия;
  }
  
  суб {
    низ: -0,25см;
  }
  
  Как дела {
    верх: -0,5см;
  }
  
  /* Встроенный контент
     ================================================== ======================== */
  
  /**
   * Удалите границу изображений внутри ссылок в IE 10.
   */
  
  картинка {
    бордюрный стиль: нет;
  }
  
  /* Формы
     ================================================== ======================== */
  
  /**
   * 1. Измените стили шрифтов во всех браузерах.
   * 2. Удалите поля в Firefox и Safari.
   */
  
  кнопка,
  вход,
  оптгрупп,
  выбирать,
  текстовая область {
    семейство шрифтов: наследовать; /* 1 */
    размер шрифта: 100%; /* 1 */
    высота строки: 1,15; /* 1 */
    маржа: 0; /* 2 */
  }
  
  /**
   * Показать переполнение в IE.
   * 1. Показать переполнение в Edge.
   */
  
  кнопка,
  ввод { /* 1 */
    переполнение: видимое;
  }
  
  /**
   * Удаление наследования преобразования текста в Edge, Firefox и IE.
   * 1. Удалите наследование преобразования текста в Firefox.
   */
  
  кнопка,
  выберите { /* 1 */
    преобразование текста: нет;
  }
  
  /**
   * Исправлена ​​невозможность стилизовать кликабельные типы в iOS и Safari.
   */
  
  кнопка,
  [тип = "кнопка"],
  [тип = "сбросить"],
  [тип = "отправить"] {
    -webkit-внешний вид: кнопка;
  }
  
  /**
   * Удалите внутреннюю границу и отступы в Firefox.
   */
  
  кнопка::-moz-фокус-внутренний,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    бордюрный стиль: нет;
    заполнение: 0;
  }
  
  /**
   * Восстановите стили фокуса, не установленные предыдущим правилом.
   */
  
  кнопка:-moz-фокусировка,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    контур: 1px пунктирный ButtonText;
  }
  
  /**
   * Исправьте отступы в Firefox.
   */
  
  набор полей {
    отступы: 0,35 эм, 0,75 эм, 0,625 эм;
  }
  
  /**
   * 1. Исправлен перенос текста в Edge и IE.
   * 2. Исправлено наследование цвета от элементов `fieldset` в IE.
   * 3. Удалите отступы, чтобы разработчики не были застигнуты врасплох при обнулении.
   * Элементы fieldset во всех браузерах.
   */
  
  легенда {
    box-sizing: граница-коробка; /* 1 */
    цвет: наследовать; /* 2 */
    дисплей: таблица; /* 1 */
    максимальная ширина: 100%; /* 1 */
    заполнение: 0; /* 3 */
    пробел: обычный; /* 1 */
  }
  
  /**
   * Добавлено правильное вертикальное выравнивание в Chrome, Firefox и Opera.
   */
  
  прогресс {
    вертикальное выравнивание: базовая линия;
  }
  
  /**
   * Удалите вертикальную полосу прокрутки по умолчанию в IE 10+.
   */
  
  текстовая область {
    переполнение: авто;
  }
  
  /**
   * 1. Добавьте правильный размер окна в IE 10.
   * 2. Удалите заполнение в IE 10.
   */
  
  [тип = "флажок"],
  [тип = "радио"] {
    box-sizing: граница-коробка; /* 1 */
    заполнение: 0; /* 2 */
  }
  
  /**
   * Исправлен стиль курсора кнопок увеличения и уменьшения в Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    высота: авто;
  }
  
  /**
   * 1. Исправьте странный внешний вид в Chrome и Safari.
   * 2. Исправьте стиль контура в Safari.
   */
  
  [тип="поиск"] {
    -webkit-внешний вид: текстовое поле; /* 1 */
    смещение контура: -2px; /* 2 */
  }
  
  /**
   * Удалите внутреннюю прокладку в Chrome и Safari на macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-внешний вид: нет;
  }
  
  /**
   * 1. Исправлена ​​невозможность стилизовать кликабельные типы в iOS и Safari.
   * 2. Измените свойства шрифта на «наследовать» в Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-внешний вид: кнопка; /* 1 */
    шрифт: наследовать; /* 2 */
  }
  
  /* Интерактивный
     ================================================== ======================== */
  
  /*
   * Добавлено правильное отображение в Edge, IE 10+ и Firefox.
   */
  
  подробности {
    дисплей: блок;
  }
  
  /*
   * Добавлено правильное отображение во всех браузерах.
   */
  
  краткое содержание {
    отображение: элемент списка;
  }
  
  /* Разное
     ================================================== ======================== */
  
  /**
   * Добавлено правильное отображение в IE 10+.
   */
  
  шаблон {
    дисплей: нет;
  }
  
  /**
   * Добавлено правильное отображение в IE 10.
   */
  
  [скрытый] {
    дисплей: нет;
  }